<!-- <div class="container">
  <div class="row">
    <div class="col my-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<div class="row mb-3">
    <div class="col-10">
        <h1>Study Diary</h1>
    </div>
    <div class="col-2 mt-1">
        <button routerLink="/edit" class="btn btn-primary btn-block">New</button>
    </div>
</div>

<div *ngIf="!(studies | async)?.length">
    <div class="alert alert-warning" role="alert">
        There are no registered studies. Please register an item.
    </div>
</div>

<div class="row">
    <div class="col-4 mt-2" *ngFor="let study of studies | async">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <strong>{{study.subject}}</strong>
                </h4>
                <p class="card-text">
                    <em>Category:</em> {{study.category}}
                </p>
                <div class="row">
                    <p class="card-text col-6">
                        <em>Date:</em> {{study.date}}
                    </p>
                    <p class="card-text col-6">
                        <em>Time:</em> {{study.time}}h
                    </p>
                </div>
                <div class="row">
                    <p class="card-text col-6">
                        <em>Level:</em> {{study.level}}
                    </p>
                    <p class="card-text col-6">
                        <em>Type:</em> {{study.type}}
                    </p>
                </div>
                <small class="card-text">
                    <em>Note:</em> {{study.note}}
                </small>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary" (click)="edit(study, study.key)">Edit</button>
                <button type="button" class="btn btn-danger ml-2" (click)="delete(study.key)">Remove</button>
            </div>
        </div>
    </div>
</div>
